
{% load compress %}
{% load static %}
 
<!DOCTYPE html>
<html lang="en">
 
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content=
        "width=device-width, initial-scale=1.0">
    <title>Django + Tailwind CSS</title>
 
    {% compress css %}
    <link rel="stylesheet"
        href="{% static 'src/css/output.css' %}">
        {% block css %}
        {% endblock css %}
    {% endcompress %}

    {% compress js %}
    <script src="{% static 'src/js/navbar.js' %}"></script>
    <script type="module" src="{% static 'src/js/HttpClient.js' %}"></script>
        {% block javascript %}
        {% endblock javascript %}
    {% endcompress %}
</head>
 

<body class="bg-gray-50">
    <header class="fixed top-0 w-full ">
        {% include "components/navbar.html" %}
    </header>
    <main class="container mx-auto flex-1 mt-16 justify-center items-center min-h-screen">
        {% block content %}
        {% endblock content %}
    </main>
</body>
 
</html>