{% extends "_base.html" %}
{% load static %}

{% block javascript %}
  <script src="{% static 'src/js/services/AuthService.js' %}"></script>
  <script src="{% static 'src/js/login.js' %}"></script>
{% endblock javascript %}

{% block content %}
<div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
  <div class="sm:mx-auto sm:w-full sm:max-w-sm">
      <h2 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">Regístrate</h2>
  </div>
  <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
      <form class="space-y-4" id="formulario-de-login" novalidate>
        {% csrf_token %}
          <div>
              <label for="email" class="block text-sm font-medium leading-6 text-gray-900">Email</label>
              <div>
                  <input id="email" name="email" type="email" autocomplete="email" required class="block w-full rounded-md border-0 px-2 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                  <span id="email-text-error" class="text-sm text-red-500 hidden">El email no es válido.</span>
              </div>
          </div>
          <div>
              <label for="contrasenia" class="block text-sm font-medium leading-6 text-gray-900">Contraseña</label>
              <div>
                  <input id="contrasenia" name="contrasenia" type="password" autocomplete="password" required class="block w-full rounded-md border-0 px-2 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                  <span id="contrasenia-text-error" class="text-sm text-red-500 hidden">La contraseña debe tener al menos 6 caracteres.</span>
              </div>
          </div>

          <div>
              <button type="submit" class="flex w-full justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
                  Registrarme
              </button>
          </div>
      </form>

      <p class="mt-10 text-center text-sm text-gray-500">
          ¿Ya tenés cuenta?
          <a href="#" class="font-semibold leading-6 text-indigo-600 hover:text-indigo-500">
              Ingresa aquí
          </a>
      </p>
  </div>
</div>
{% endblock content %}
  